@using Expenses.Common.Utils;
@using Expenses.Web.Common;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ExpenseDB</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ExpenseDB", "Index", "Operation", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Strings.Operations, "Index", "Operation")</li>
                    <li>@Html.ActionLink(Strings.Accounts, "Index", "Account")</li>
                    <li>@Html.ActionLink(Strings.Categories, "Index", "Category")</li>
                    <li>@Html.ActionLink(Strings.Subcategories, "Index", "Subcategory")</li>
                    <li>@Html.ActionLink(Strings.Currencies, "Index", "Currency")</li>
                    @if(Services.Get<IAuthentication>().IsLoggedIn)
                    {
                        <li>@Html.ActionLink(Strings.Logout, "Logout", "User")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - andy</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
