@model IEnumerable<Expenses.Web.Models.ExpenseItemViewData>

@{
    ViewBag.Title = Strings.ExpenseItems;
}

<h2>@Strings.ExpenseItems</h2>

<p>
    @Html.ActionLink(@Strings.CreateNew, "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Strings.Name
        </th>
        <th>
            @Strings.Category
        </th>
        <th>
            @Strings.Comment
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(items => item.Id)
            </td>
            <td>
                @Html.DisplayFor(items => item.Name)
            </td>
            <td>
                @Html.DisplayFor(items => item.ExpenseCategoryName)
            </td>
            <td>
                @Html.DisplayFor(items => item.Comment)
            </td>
            <td>
                <a href="/ExpenseItem/Edit/@item.Id"><img src="/Images/edit.png"/></a> |
                <a href="/ExpenseItem/Details/@item.Id"><img src="/Images/details.png"/></a> |
                <a href="/ExpenseItem/Delete/@item.Id"><img src="/Images/delete.png"/></a>
            </td>
        </tr>
    }

</table>