@using PagedList
@using PagedList.Mvc
@using Expenses.Web.Models
@using Expenses.BL.Entities
@model IPagedList<OperationViewData>

@{
    ViewBag.Title = Strings.Operations;
}

@section Styles {
    @Styles.Render("~/Content/pagedlist")
<style type="text/css">
    .ui-datepicker {
        z-index: 1000 !important;
    }
</style>
}

@{
    string dateFrom = Request.Params["dateFrom"];
    string dateTo = Request.Params["dateTo"];
    string categoryId = Request.Params["categoryId"];
    string subcategoryId = Request.Params["subcategoryId"];
}

@section Scripts {
    @Scripts.Render("~/bundles/operation-index")
<script type="text/javascript">
    $(function(){ initOperationIndex("@Strings.JsDateFormat", "@dateFrom", "@dateTo", "@Strings.ShowFilter", "@Strings.HideFilter"); });
</script>
}

<h2>@Strings.Operations</h2>
<p>@Html.ActionLink(@Strings.CreateNew, "Create", null, new {id = "create-new"})
 | <a href="#" id="show-filter">@Strings.ShowFilter</a></p>

<div id="filter" class="form-horizontal" style="display:none;">
    <div class="form-group">
        <label class="col-md-2 control-label" for="date-from">@Strings.StartDate</label> 
        <div class="col-md-10">
            <input type='text' class='form-control' id='date-from'/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="date-to">@Strings.EndDate</label> 
        <div class="col-md-10">
            <input type='text' class='form-control' id='date-to'/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="CategoryId">@Strings.Category</label> 
        <div class="col-md-10">
            @Html.DropDownList("CategoryId", null, new { @class = "form-control" })
        </div>
     </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="SubcategoryId">@Strings.Subcategory</label> 
        <div class="col-md-10">
            @Html.DropDownList("SubcategoryId", null, new { @class = "form-control" })
        </div>
    </div>
    <a href="#" class="btn btn-default" id="apply-filter">@Strings.Apply</a>
</div>

@Html.PagedListPager(Model, page=>Url.Action("Index", new { page, dateFrom, dateTo, categoryId, subcategoryId } ))

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            @Strings.Category
        </th>
        <th>
            @Strings.Subcategory
        </th>
        <th>
            @Strings.Amount
        </th>
        <th>
            @Strings.Date
        </th>
        <th>
            @Strings.Comment
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr @Html.Raw(item.Type == OperationType.Income ? "style='color:green;'" : String.Empty) >
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubcategoryName)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.Amount)
                @(" " + item.CurrencyName)
            </td>
            <td>
                @item.OperationTime.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td >
                @HtmlHelpers.ItemOptions("Operation", item.Id)
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page=>Url.Action("Index", new { page, dateFrom, dateTo, categoryId, subcategoryId } ))
@if(ViewBag.Income != null)
{
<p>
    <b>@Strings.Income:</b>
    @{
        var income = (IEnumerable<StatsItemViewData>)ViewBag.Income;
        var first = true;
        foreach(var item in income){
            @((first ? "" : "; ") + item.Amount + " " + item.CurrencyName)
            first = false;
        }
    }
</p>
}
@if(ViewBag.Expense != null)
{
<p>
    <b>@Strings.Expense:</b>
    @{
        var expense = (IEnumerable<StatsItemViewData>)ViewBag.Expense;
        var first = true;
        foreach(var item in expense){
            @((first ? "" : "; ") + item.Amount + " " + item.CurrencyName)
            first = false;
        }
    }
</p>
}