
@model IEnumerable<Expenses.Web.Models.OperationViewData>

@{
    ViewBag.Title = Strings.Operations;
}

<h2>@Strings.Operations</h2>

<p>
    @Html.ActionLink(@Strings.CreateNew, "Create")
</p>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            @Strings.Category
        </th>
        <th>
            @Strings.Item
        </th>
        <th>
            @Strings.Amount
        </th>
        <th>
            @Strings.Currency
        </th>
        <th>
            @Strings.Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyName)
            </td>
            <td>
                @item.OperationTime.ToString("d")
            </td>
            <td>
                <a href="/Operation/Edit/@item.Id"><img src="/Images/edit.png"/></a> |
                <a href="/Operation/Details/@item.Id"><img src="/Images/details.png"/></a> |
                <a href="/Operation/Delete/@item.Id"><img src="/Images/delete.png"/></a>
            </td>
        </tr>
    }

</table>