@model Expenses.Web.Models.CategoryViewData

@{
    ViewBag.Title = Strings.Delete;
}

<h2>@Strings.Delete</h2>

<h3>@Strings.RecordDeleteConfirmation</h3>
<div>
    <h4>@Strings.Category</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Strings.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Strings.Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        <dt>
            @Strings.Comment
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Strings.Delete" class="btn btn-default" /> |
            @Html.ActionLink(Strings.BackToList, "Index")
        </div>
    }
</div>
