@model Expenses.Web.Models.ExchangeViewData

@{
    ViewBag.Title = Strings.Edit;
}

<h2>@Strings.Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Strings.Exchange</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Id)
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2" for="SourceAccountId">@Strings.FromAccount</label>
            <div class="col-md-10">
                @Html.DropDownList("SourceAccountId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SourceAccountId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="DestAccountId">@Strings.ToAccount</label>
            <div class="col-md-10">
                @Html.DropDownList("DestAccountId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DestAccountId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="SourceAmount">@Strings.Amount</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SourceAmount, new { htmlAttributes = new { @class = "form-control", style = "display:inline;" } })
                <span id="SourceCurrencyName">@ViewBag.SourceCurrencyName</span><br/>
                @Html.ValidationMessageFor(model => model.SourceAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="DestAmountGroup">
            <label class="control-label col-md-2" for="DestAmount">@Strings.ResultAmount</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DestAmount, new { htmlAttributes = new { @class = "form-control", style = "display:inline;" } })
                <span id="DestCurrencyName">@ViewBag.DestCurrencyName</span><br/>
                @Html.ValidationMessageFor(model => model.DestAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Comment">@Strings.Comment</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Strings.Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Strings.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/exchange-edit")

    <script type="text/javascript">
        $(function(){ initExchangeEdit("@ViewBag.SourceCurrencyId", "@ViewBag.DestCurrencyId"); });
    </script>
}
