@model Expenses.BL.Entities.Currency

@{
    ViewBag.Title = Strings.Details;
}

<h2>@Strings.Details</h2>

<div>
    <h4>@Strings.Currency</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Strings.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Strings.ShortName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Strings.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Strings.BackToList, "Index")
</p>
