@model Expenses.Web.Models.DebtViewData

@{
    ViewBag.Title = Strings.Details;
}

@section Styles {
    @Styles.Render("~/Content/jquery-ui")
}

<div id="edit-dialog" style="display:none;">
    <input id="edit-id" type="hidden"/>
    <div>
        <label class="control-label">@Strings.Amount</label><br/>
        <input type="text" class="form-control" id="edit-amount" style="width:80%;display:inline;"/>
        <span>@Model.CurrencyName</span>
    </div>
    <div>
        <label class="control-label">@Strings.Comment</label><br/>
        <input type="text" class="form-control" id="edit-comment"/>
    </div>
</div>

<div id="delete-dialog" style="display:none;" title="@Strings.Delete">
    <p>@Strings.RecordDeleteConfirmation</p>
    <input type="hidden" id="delete-id"/>
    <div>
        <label class="control-label">@Strings.Amount</label>
        <span id="delete-amount"></span>
        <span>@Model.CurrencyName</span>
    </div>
</div>

<div id="error-dialog" style="display:none;" title="Error">
    <span id="error-text"/>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jquery-ui")

<script type="text/javascript">
        $(function () {
           var showError = function(message) {
              $("#error-text").text(message);
              $("#error-dialog").dialog("open");
           };

           var onAjaxSuccess = function($dlg, data) {
                $dlg.dialog("close");
                if(data.ok == true)
                    window.location="/Debt/Details/@Model.Id";
                else
                    showError(data.error);
           };

           var onAjaxError = function($dlg, error) {
                $dlg.dialog("close");
                showError(error);
           };

           $( "#edit-dialog" ).dialog({
                autoOpen: false,
                modal: true,  
                buttons: {
                    OK: function() {
                        var $dlg = $("#edit-dialog");
                        var data = "{ debtId: '" + "@Model.Id" + "', " +
                                   "id: '"       + $("#edit-id").val() + "', " +
                                   "amount: '"   + $("#edit-amount").val() + "', " +
                                   "comment: '"  + $("#edit-comment").val() + "' }";

                        var url = ($dlg.dialog("option","title") == "@Strings.Create") ? 
                                     "/Debt/AddRepayment" : "/Debt/EditRepayment";

                        $.ajax({
                            type: "POST", contentType: "application/json; charset=utf-8", dataType: "json",
                            url: url,
                            data: data,
                            success: function(data, status) { onAjaxSuccess($dlg, data); },
                            error: function(jqXHR, textStatus, errorThrown) { onAjaxError($dlg, errorThrown); } 
                        });
                    },
                    "@Strings.Cancel": function() {$(this).dialog("close");}
                }            
            });

            $( "#delete-dialog" ).dialog({
                autoOpen: false,
                modal: true,  
                buttons: {
                    OK: function() {
                        var $dlg = $("#delete-dialog");
                        $.ajax({
                            type: "POST", contentType: "application/json; charset=utf-8", dataType: "json",
                            url: "/Debt/DeleteRepayment",
                            data: "{ debtId: " + "@Model.Id" + ", " + 
                                    "id: " + $("#delete-id").val() + " }",
                            success: function(data, status) { onAjaxSuccess($dlg, data); },
                            error: function(jqXHR, textStatus, errorThrown) { onAjaxError($dlg, errorThrown); }  
                        });
                    },
                    "@Strings.Cancel": function() {$(this).dialog("close");}
                }            
            });

            $( "#error-dialog" ).dialog({
                autoOpen: false,
                modal: true,  
                buttons: {
                    OK: function() { $( "#error-dialog" ).dialog("close"); }
                }            
            });

            $( "#create-link" ).click(function() {
               var $dialog = $( "#edit-dialog" );
               $dialog.dialog("option", "title", "@Strings.Create");
               $("#edit-amount").val("");
               $("#edit-comment").val("");
               $dialog.dialog( "open" );
            });

            $( ".edit-link" ).click( function (e) {
               var $dialog = $( "#edit-dialog" );
               $dialog.dialog("option", "title", "@Strings.Edit");

               var id = $(e.currentTarget).attr("data-item-id");
               $("#edit-id").val(id);
               $("#edit-amount").val($("#amount-"+id).text());
               $("#edit-comment").val($("#comment-"+id).text());
               $dialog.dialog( "open" );
            });

            $( ".delete-link" ).click(function (e) {
               var id = $(e.currentTarget).attr("data-item-id");
               $("#delete-id").val(id);
               $("#delete-amount").text($("#amount-"+id).text());
               $("#delete-dialog").dialog( "open" );
            });

        });
</script>
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<h2>@Strings.Details</h2>

<div>
    <h4>@Strings.Debt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Strings.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentName)
        </dd>

        <dt>
            @Strings.Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        <dt>
            @Strings.Account
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountName)
        </dd>

        <dt>
            @Strings.Amount
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
            @(" " + Model.CurrencyName)
        </dd>

        <dt>
            @Strings.Repayed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepayedAmount)
            @(" " + Model.CurrencyName)
        </dd>

        <dt>
            @Strings.Rest
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestAmount)
            @(" " + Model.CurrencyName)
        </dd>

        <dt>
            @Strings.Comment
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink(Strings.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Strings.BackToList, "Index")
</p>

<h2>@Strings.Repayment</h2>
<a href="#" id="create-link">@Strings.CreateNew</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Strings.Amount
        </th>
        <th>
            @Strings.Date
        </th>
        <th>
            @Strings.Comment
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Repayments)
    {
        <tr>
            <td>
                @Html.DisplayFor(items => item.Id)
            </td>
            <td>
                <span id="amount-@item.Id">@Html.DisplayFor(items=>item.Amount)</span>
                @(" " + Model.CurrencyName)
            </td>
            <td>
                @Html.DisplayFor(items => item.OperationTime)
            </td>
            <td>
                <span id="comment-@item.Id">@item.Comment</span>
            </td>
            <td>
                <a href="#" class="edit-link" data-item-id="@item.Id"><img src="/Images/edit.png"/></a> |
                <a href="#" class="delete-link" data-item-id="@item.Id"><img src="/Images/delete.png"/></a>
            </td>
        </tr>
    }

</table>
