@model Expenses.Web.Models.DebtViewData

@{
    ViewBag.Title = Strings.Details;
}

<div id="edit-dialog" style="display:none;">
    <input id="edit-id" type="hidden"/>
    <div>
        <label class="control-label">@Strings.Amount</label><br/>
        <input type="text" class="form-control" id="edit-amount" style="width:80%;display:inline;"/>
        <span>@Model.CurrencyName</span>
    </div>
    <div>
        <label class="control-label">@Strings.Comment</label><br/>
        <input type="text" class="form-control" id="edit-comment"/>
    </div>
</div>

<div id="delete-dialog" style="display:none;" title="@Strings.Delete">
    <p>@Strings.RecordDeleteConfirmation</p>
    <input type="hidden" id="delete-id"/>
    <div>
        <label class="control-label">@Strings.Amount</label>
        <span id="delete-amount"></span>
        <span>@Model.CurrencyName</span>
    </div>
</div>

<div id="error-dialog" style="display:none;" title="Error">
    <span id="error-text"/>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/debt-details")

    <script type="text/javascript">
        $(function(){ initDebtDetails("@Model.Id", "@Strings.Cancel", "@Strings.Create", "@Strings.Edit"); });
    </script>
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<h2>@Strings.Details</h2>

<div>
    <h4>@Strings.Debt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Strings.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentName)
        </dd>

        <dt>
            @Strings.Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        <dt>
            @Strings.Account
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountName)
        </dd>

        <dt>
            @Strings.Amount
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
            @(" " + Model.CurrencyName)
        </dd>

        <dt>
            @Strings.Repayed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepayedAmount)
            @(" " + Model.CurrencyName)
        </dd>

        <dt>
            @Strings.Rest
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestAmount)
            @(" " + Model.CurrencyName)
        </dd>

        <dt>
            @Strings.Comment
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink(Strings.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Strings.BackToList, "Index")
</p>

<h2>@Strings.Repayment</h2>
<a href="#" id="create-link">@Strings.CreateNew</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Strings.Amount
        </th>
        <th>
            @Strings.Date
        </th>
        <th>
            @Strings.Comment
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Repayments)
    {
        <tr>
            <td>
                @Html.DisplayFor(items => item.Id)
            </td>
            <td>
                <span id="amount-@item.Id">@Html.DisplayFor(items=>item.Amount)</span>
                @(" " + Model.CurrencyName)
            </td>
            <td>
                @item.OperationTime.ToString("d")
            </td>
            <td>
                <span id="comment-@item.Id">@item.Comment</span>
            </td>
            <td>
                <a href="#" class="edit-link" data-item-id="@item.Id"><img src="/Images/edit.png"/></a> |
                <a href="#" class="delete-link" data-item-id="@item.Id"><img src="/Images/delete.png"/></a>
            </td>
        </tr>
    }

</table>
